body {
background-color:#333333;
}

div.logo {
margin-top: 75px ;
margin-left: auto ;
margin-right: auto ;
margin-bottom: 100px ;
width: 750px;
text-align: center;
}

div.winner {
margin: 0;
height: 125px;
text-align: center;
}

div.share {
margin: 0;
margin-top: 20px;
text-align: center;
border: 1px dashed #444444;
background: #222222;
}

form {
margin: 0 auto;
width: 600px;
height: 30px;
text-align: center;
}

input.input {
width: 300px;
height: 30px;
color: #333333;
font-family:"arial";
font-size:16px;
font-weight:bold;
background: #ffffff;
border: 3px solid #000000;
border-left: 10px solid #000000;
}

input.inputold {
width: 300px;
height: 30px;
color: #424242;
font-family:"arial";
font-size:16px;
font-weight:bold;
background: #cccccc;
border: 1px solid #fbb040;
border-left: 5px solid #fbb040;
}

input.submit {
width: 150px;
height: 30px;	
color: #fbb040;
font-family: "arial";
font-size: 14px;
font-weight: bold;
background: #000000;
border: none;
border-right: 1px solid #444444;
border-bottom: 1px solid #444444;
}

input.submitold {
width: 150px;
height: 30px;	
color: #ffffff;
font-family: "arial";
font-size: 14px;
font-weight: bold;
background: #fbb040;
border: 1px solid #fbb040;
}

p {
text-align: center;
font-family: "arial";
font-size: 18px;
color: #ffffff;
}

p.desc {
text-align: center;
font-family: "arial";
font-size: 18px;
color: #eeeeee;
margin-top: 40px ;
}

p.logo {
margin-top: 0px ;
text-align: center;
font-family: "arial";
font-size: 20px;
font-weight: bold;
color: #fbb040;
}


p.link {
text-align: center;
font-family: "arial";
font-size: 18px;
font-weight: bold;
color: #79cbbf;
}

p.error {
margin: 0px 0 0 0;
text-align: center;
font-family: "arial";
font-size: 16px;
color: #79cbbf;
}

p.form {
margin: 0px 0 0 0;
text-align: center;
font-family: "arial";
font-size: 20px;
font-weight: bold;
color: #fbb040;
margin-top: 40px ;
}

font.highlight {
color: #ffffff;
}


















?>